{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home - Stock Price Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
            box-sizing: border-box;
        }
        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .logo-image {
            width: 150px;  /* Adjust this value as needed */
            height: auto;  /* This makes the image keep its aspect ratio */
        }
    </style>
</head>
<body>
    <div class="container center-div text-center">
        <img src="{% static 'logo2.png' %}" alt="Company Logo" class="logo-image">
        {% load i18n %}
        <h1>{% trans "Welcome to the Stock Price Inquiry Example Page" %}</h1>

        <h2 class="contributor">{% trans "Version 0.2 20230606" %}</h2> 
        <!-- <h2 class="contributor">Contributor: Austin Li</h2>  -->
        <p><a class="btn btn-primary" href="{% url 'stocks:predict_price' %}">{% trans "Get Predicted Stock Prices" %}</a></p>
        <p><a class="btn btn-primary" href="../">{% trans "Log Out" %}</a></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
